[submodule "themes/novela"]
	path = themes/novela
	url = https://github.com/forestryio/hugo-theme-novela.git
[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
