{
  "syntax": "scss",
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order",
    "stylelint-prettier"
  ],
  "rules": {
    "prettier/prettier": true,
    # Проверка очередности в контексте селектора
    # https://github.com/hudochenkov/stylelint-order/blob/master/rules/order/README.md
    "order/order": [
      # Кастомные свойства
      "custom-properties",
      # Инклуды примесей
      {
        "type": "at-rule",
        "name": "include",
      },
      # Свойства
      "declarations",
      # Медиаусловия
      {
        "type": "at-rule",
        "name": "media",
      },
      # Псевдоселекторы и псевдоэлементы
      {
        "type": "rule",
        "selector": "^&:\\w+$"
      },
      # Сторонние вложенные селекторы
      {
        "type": "rule",
        "selector": "^\\.[-_a-zA-Z0-9]+"
      },
      # Элементы блока
      {
        "type": "rule",
        "selector": "^&__[-a-z0-9]+"
      },
      # Модификаторы блока
      {
        "type": "rule",
        "selector": "^&--[-a-z0-9]+"
      },
    ],
    # Проверка очередности правил
    # https://github.com/hudochenkov/stylelint-order/blob/master/rules/properties-order/README.md
    "order/properties-order": [[
      {
        "properties": [
          "content",
          "box-sizing",
          "display",
          "flex",
          "flex-wrap",
          "flex-basis",
          "flex-direction",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "align-content",
          "align-items",
          "align-self",
          "justify-content",
          "order",
          "grid",
          "grid-area",
          "grid-auto-*",
          "grid-column",
          "grid-column-*",
          "grid-gap",
          "grid-row",
          "grid-row-*",
          "grid-template",
          "grid-template-*",
          "position",
          "z-index",
          "top",
          "right",
          "bottom",
          "left",
          "width",
          "min-width",
          "max-width",
          "height",
          "min-height",
          "max-height",
          "margin",
          "margin-*",
          "border",
          "border-*",
          "padding",
          "padding-*",
          "overflow",
          "overflow-*",
        ]
      },
      {
        # "emptyLineBefore": "always",
        "properties": [
          "transform",
          "transform-*",
          "backface-visibility",
          "perspective",
          "perspective-origin",
          "transition",
          "transition-*",
          "animation",
          "animation-*",
        ]
      },
    ],
      {
        "severity": "warning",
      }
    ],
    # http://stylelint.io/user-guide/rules/
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-brackets-space-inside": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "number-leading-zero": "always",
    "font-weight-notation": "numeric",
    "font-family-name-quotes": "always-where-recommended",
    "comment-whitespace-inside": "always",
    "comment-empty-line-before": "always",
    "rule-empty-line-before": ["always", {
        "ignore": ["after-comment", "first-nested", "inside-block"]
      }],
    "selector-pseudo-element-colon-notation": "single",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always",
    "no-descending-specificity": null
  }
}
