<article class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}

  {{ .Render "featured" }}
  <div id="content">
    {{ $.Scratch.Set "summary" ((delimit (findRE "<p.*?>(.|\n)*?</p>" .Content 1) "") | truncate (default 500 .Site.Params.summary_length) (default "&hellip;" .Site.Params.text.truncated ) | replaceRE "&amp;" "&" | safeHTML) }}
  	{{ $.Scratch.Get "summary" }}
  </div>

  <footer>
    {{ .Render "footer-category" }}
  </footer>
</article>
{{ .Render "prev-next" }}
