    </div>
    <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>
    <!-- Scripts -->

    {{ if isset .Site.Params "customjs" }}
      {{ $.Scratch.Set "jsFiles" .Site.Params.customJS }}
    {{ else }}
      {{ $.Scratch.Set "jsFiles" false }}
    {{ end }}

    <!-- If the value "default" is passed into the param then we will first
     load the standard js files associated with the theme -->
    {{ if or (in ($.Scratch.Get "jsFiles") "default") (eq ($.Scratch.Get "jsFiles") false) }}
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.25/jquery.fancybox.min.js"></script>
      <script src="{{ "js/util.js" | absURL }}"></script>
      <script src="{{ "js/main.js" | absURL }}"></script>
      <script src="{{ "js/backToTop.js" | absURL }}"></script>
    {{ end }}

    {{ if ne ($.Scratch.Get "jsFiles") false }}
      {{ range $.Scratch.Get "jsFiles" }}
        {{ if ne . "default" }}
          <script src="{{ . | absURL }}"></script>
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- This is called by default since this theme uses highlight.js -->
	<script>hljs.initHighlightingOnLoad();</script>

	<script type="text/javascript">(function() {var script=document.createElement("script");script.type="text/javascript";script.async =true;script.src="https://telegram.im/widget-button/index.php?id=@npofopr";document.getElementsByTagName("head")[0].appendChild(script);})();</script>
	<a href="https://telegram.im/@npofopr" target="_blank" class="telegramim_button telegramim_shadow telegramim_pulse" style="font-size:17px;width:48px;height:48px;background:#27A5E7;box-shadow:1px 1px 5px #27A5E7;color:#FFFFFF;border-radius:50px;position: fixed;bottom: 80px;right: 20px;" title=""><i></i></a>

  </body>
</html>
