/*
  This css file is for individual users to restyle items for their personal site,
  or for the implementation of features specifically for their site. Anything that
  is an official part of the theme (ex. Pull Requests) should be included in main.css
  within the formating given.
*/

a.roll_link {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	perspective: 600px;
	-webkit-perspective-origin: 50% 50%;
	-moz-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	padding: 0 !important;
}

a.roll_link span {
	display: block;
	position: relative;
	padding: 0 2px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	transition: all 400ms ease;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

a.roll_link:hover span {
	background: #966FD6;
	-webkit-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
	-moz-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
	-ms-transform: translate3d(0px, 0px, -30px) rotateX(90deg);
	transform: translate3d(0px, 0px, -30px) rotateX(90deg);
	text-shadow: none;
}

a.roll_link span:after {
	content: attr(data-title);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0 2px;
	color: white;
	background: #966FD6;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-webkit-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
	-moz-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
	-ms-transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
	transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}

.easing {
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.easing-long {
	-webkit-transition: all 1.2s ease-out;
	-moz-transition: all 1.2s ease-out;
	-ms-transition: all 1.2s ease-out;
	-o-transition: all 1.2s ease-out;
	transition: all 1.2s ease-out;
}

span.label {
	display: inline-block;
	padding: 2px 6px;
}

.history-group h3 {
	font-size: 1.17em;
	margin: 1em 0;
	text-transform: none;
	letter-spacing: normal;
	font-weight: 500;
}

.history-group h3:first-child {
	margin-top: 0;
}

#content ul.personal-info {
	margin-top: 60px;
	padding-left: 0;
	list-style: none;
	margin-bottom: 60px;
}

ul.personal-info li {
	margin-bottom: 10px;
	padding-left: 0;
}

h2.caption span,
ul.personal-info .title,
.btn,
a.btn,
a.btn:link,
a.btn:visited:hover,
a.btn:visited,
a.btn:hover,
.btn:hover,
.btn-send,
#header nav ul li.current-menu-item a {
	color: #fff;
}

ul.personal-info .title {
	display: inline-block;
	padding: 2px 8px;
	position: relative;
	font-size: 90%;
	border-left: 1px solid rgba(0, 0, 0, .1);
}

ul.personal-info .title:after {
	content: "";
	position: absolute;
	top: 0;
	right: -0.4em;
	border-left-width: 0.5em;
	border-left-style: solid;
	border-bottom: 0.5em solid transparent;
}

h2.caption span,
ul.personal-info .title,
.bar .progress:after {
	background: #C30;
}

ul.personal-info .value {
	margin-left: 15px;
	font-style: italic;
}

ul.personal-info.contact-form li {
	margin-bottom: 14px;
}

ul.personal-info.contact-form .title {
	border-left: 0;
	border-top: 1px solid rgba(0, 0, 0, .1);
}

ul.personal-info.contact-form .title:after {
	top: auto;
	bottom: -0.5em;
	left: 0;
	right: auto;
}

.history-unit {
	padding-left: 20px;
	margin-bottom: 30px;
	border-width: 0 0 0 1px;
	border-style: solid;
	border-color: #C30;
}

.history-unit h4 {
	margin-bottom: 0px;
	font-weight: 600;
	text-transform: none;
	letter-spacing: .01em;
	font-size: .9em;
}

.history-unit h4 .work-time {
	float: right;
	font-size: .9em;
	border-width: 0 0 2px 0;
	border-style: solid;
}

.history-unit h5 {
	margin: .4em 0 1em;
	font-weight: normal;
	font-size: .9em;
	padding-left: 9px;
	border-width: 0 0 0 30px;
	border-style: solid;
	text-transform: none;
  letter-spacing: normal;
}

.history-unit h5 span {
	padding: 3px 6px;
}

.bar {
	position: relative;
	width: 96%;
}

.bar .progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
}

ul.personal-info .title:after {
	border-left-color: #C30;
}

.history-unit,
.history-group span.label.primary {
	border-color: #C30;
}

.history-unit h5,
.history-unit h4 .work-time {
	border-color: #eee;
}

.bar {
	height: 20px;
	background: #f3f3f3;
}

span.label.black {
	color: #fff;
	background-color: #000;
}

ul.personal-info .title,
.bar .progress {
	background: #C30;
}

.not_available,
.available {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	margin: 0;
	position: relative;
	right: 7px;
	top: -1px;
}

.not_available {
	background: #ff0000;
	-webkit-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px rgba(255, 0, 0, 0.75);
	box-shadow: 0px 0px 7px rgba(255, 0, 0, 0.75);
}

.available {
	background: #00ff00;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.75);
	-moz-box-shadow: 0px 0px 5px rgba(0, 255, 0, 0.75);
	box-shadow: 0px 0px 7px rgba(0, 255, 0, 0.75);
}
