@import url(css/bootstrap.min.css);
@import url(css/jquery.formstyler.css);
@import url(css/datePicker.css);
@import url(css/jquery.fancybox.css);

/*
Global
--------------------------------------------------*/
/*
html * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  *behavior: url(css/htc-libs/boxsizing.htc);
}*/

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection { background: #006699; color: #fff; text-shadow: none; }
::selection { background: #006699; color: #fff; text-shadow: none; }
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{color:transparent;}
input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder{color:transparent;}

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) { overflow: hidden; }

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/** {
    -webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	transition: all 0.3s ease;
}*/


body {
	behavior: url(csshover3.htc);
}
.wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/*
Typography
--------------------------------------------------*/
@font-face {
    font-family: 'DaysRegular';
    src: url('fonts/Days-webfont.eot');
    src: url('fonts/Days-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Days-webfont.woff') format('woff'),
         url('fonts/Days-webfont.ttf') format('truetype'),
         url('fonts/Days-webfont.svg#DaysRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
a:link,
a:focus {outline: none;}



/*
Header
--------------------------------------------------*/
.header {
	/*overflow: hidden;*/
	color: #FFF;

	background: #39b44a;
	background: -moz-linear-gradient(top,  #39b44a 0%, #2fa849 28%, #12863f 90%, #056c35 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#39b44a), color-stop(28%,#2fa849), color-stop(90%,#12863f), color-stop(100%,#056c35)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #39b44a 0%,#2fa849 28%,#12863f 90%,#056c35 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #39b44a 0%,#2fa849 28%,#12863f 90%,#056c35 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #39b44a 0%,#2fa849 28%,#12863f 90%,#056c35 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #39b44a 0%,#2fa849 28%,#12863f 90%,#056c35 100%); /* W3C */
	
	behavior: url(PIE.htc);
	-pie-background: linear-gradient(#39b44a, #056c35);
}
.header_middle {
	width: 980px;
	margin: 0 auto;
	position: relative;
	padding: 13px 0 47px;
}
.logo {
	width: 180px;
	float: left;
	padding: 0;
}
.site_name {
	width: 420px;
	padding: 43px 10px 0 0;
	float: left;
	font-size: 12px;
	color: #a8cdb2;
}
.site_name h1 {
	font-family: 'DaysRegular';
	font-weight: normal;
	font-size: 17px;
	line-height: 1;
	color: #FFF;
	margin: 0 0 8px;
}
.header_adress {
	width: 370px;
	float: left;
	color: #a8cdb2;
	padding: 49px 0 0;
}
.header_adress h5 {
	font-size: 10px;
	line-height: 1;
	margin: 0 0 3px;
}
.header_adress p {
	font-family: 'DaysRegular';
	font-weight: normal;
	font-size: 15px;
	line-height: 1;
	color: #ffff33;
	margin: 0 0 1px;
}
.header_adress p span {
	color: #FFF;
}
.header_adress a {
	color: #a8cdb2;
	text-decoration: underline;
}
.header_adress a:hover {
	text-decoration: none;
}

/*
Login Block
--------------------------------------------------*/
.login_btn {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px 20px;
	display: block;
	background-color: #229944;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-bottom: 1px solid #40ca53;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	behavior: url(PIE.htc);
}
.lt-ie9 .login_btn {
	border-bottom: 0 none;
}
.login_btn a {
	background: url(img/ico_login_btn.png) no-repeat 0 0;
	padding-left: 20px;
	color: #FFF;
	line-height: 13px;
}
.login_btn a span {
	text-decoration: underline;
}
.login_btn a:hover span,
.login_btn a:hover {
	text-decoration: none;
}

.login_form {
	width: 183px;
	background: #f1f1f1;
	padding: 13px 11px;
	display: none;
	position: absolute;
	top: 35px;
	right: 0;
	z-index: 355;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(PIE.htc);
}
.login_form.active {
	display: block;
	position: absolute;
}
.login_form form {margin: 0;}
.login_form .login_form_field {
	width: 91%;
	padding: 6px 6px;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	color: #999;
	margin-bottom: 12px;
	border-bottom-color: #e8e8e8;
	border-right-color: #e4e4e4;
	-webkit-box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
	-moz-box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
	box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
	behavior: url(PIE.htc);
}
.login_form .login_form_submit {
	text-align: center;
}
.login_form .submit_button {
	border: 0 none;
	font-size: 10px;
	color: #FFF;
	text-transform: uppercase;
	padding: 5px 8px;
	text-shadow: 0 -1px 0 rgba(54, 176, 75, 1);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 1px -1px 3px rgba(220, 234, 198, 1);
	-moz-box-shadow:    1px -1px 3px rgba(220, 234, 198, 1);
	box-shadow:         1px -1px 3px rgba(220, 234, 198, 1);
	
	background: #9cd73f;
	background: -moz-linear-gradient(top,  #9cd73f 0%, #36b04b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9cd73f), color-stop(100%,#36b04b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #9cd73f 0%,#36b04b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #9cd73f 0%,#36b04b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #9cd73f 0%,#36b04b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #9cd73f 0%,#36b04b 100%); /* W3C */
	-pie-background: linear-gradient(#9cd73f, #36b04b);
}


/*
Header Menu
--------------------------------------------------*/
.header_menu {
	color: #000;
	width: 980px;
	height: 45px;
	margin: 0 auto;
	/*overflow: hidden;*/
	position: relative;
	top: -23px;
	z-index: 155;

	background: #ccc;
	background: -moz-linear-gradient(top,  #ffffff 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#cccccc 100%); /* W3C */
	
	-pie-background: linear-gradient(#ffffff, #cccccc);

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	behavior: url(PIE.htc);
}
.lt-ie9 .header_menu {
	border-radius: 0;
}
.header_menu .header_menu_ul {
	text-align: justify; /* Включаем в работу последнюю строку*/
	/*overflow: hidden;*/
	/* Обнуляем для родителя*/
	line-height: 0;
	font-size: 1px; /* 1px для Opera */
	text-justify: newspaper; /* Лекарство для IE6-7*/
	zoom: 1;
	cursor: default;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	top: 0;
	z-index: 125;

	display: table;
	-dt-display: table;
	width: 100%;
	height: 45px;

	behavior: url(display-table.min.htc);
}
/*.ie7 .header_menu ul li {
	float: left;
}
.ie7 .header_menu ul li a {
	padding: 0 13px;
}*/
.header_menu .header_menu_item,
.header_menu .header_menu_ul .LI {
	display: table-cell;
	-dt-display: table-cell;
	/*display: inline-block;*/
	text-align: center;
	line-height: 45px;
	font-size: 14px;
	vertical-align: middle;
	padding: 0;
	position: relative;
	//zoom : 1;

	border-right: 1px solid #ccc;
	border-left: 1px solid #FFF;

	behavior: url(display-table.min.htc);
}
.header_menu li:first-child,
.header_menu .LI-first {
	border-left: none;
}
.header_menu li:last-child,
.header_menu li.last-child,
.header_menu .LI-last {
	border-right: 0 none !important;
}
.header_menu li a,
.header_menu .LI a {
	font-weight: 600;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	/*padding: 15px 0;*/
	z-index: 99;
	color: #333;
	text-decoration: none;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);

	position: relative;
	zoom: 1;
}
/*.header_menu li a,  x:-moz-any-link, x:default {
	padding: 15px 16.55px;
}
.ie9 .header_menu li a {
	padding: 15px 16.5px;
}
.ie8 .header_menu li a,
.ie7 .header_menu li a {
	padding: 15px 13.5px;
}*/
.header_menu li:first-child a,
.header_menu .LI-first a {
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}
.header_menu li:last-child a,
.header_menu .LI-last a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.header_menu li a:hover,
.header_menu .LI a:hover,
.header_menu li a.active,
.header_menu .LI a.active {
	text-decoration: none;
	color: #333;

	background: #FF3;
	background: -moz-linear-gradient(top,  #ffffb7 0%, #feef34 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffb7), color-stop(100%,#feef34)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffb7 0%,#feef34 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffb7 0%,#feef34 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffb7 0%,#feef34 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffb7 0%,#feef34 100%); /* W3C */

	behavior: url(PIE.htc);
	-pie-background: linear-gradient(#FF3, #feef34);
}
.ie9 .header_menu li a:hover,
.ie9 .header_menu .LI a:hover,
.ie9 .header_menu li a.active,
.ie9 .header_menu .LI a.active {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZiNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZWVmMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}
/*.lt-ie9 .header_menu li a:hover,
.lt-ie9 .header_menu li a.active,
.lt-ie9 .header_menu .LI a:hover,
.lt-ie9 .header_menu .LI a.active {
	background: #feef34 !important;
}*/

.header_menu ul:after,
.header_menu .UL:after { /* эмуляция дополнительной строки, чтобы сработал justify */
	width: 100%; 
	height: 0px;
	visibility: hidden;
	overflow: hidden;
	content: '';
	display: inline-block;
}

.header_menu ul li ul,
.header_menu .LI ul {
	display: none;
	position: absolute;
	left: 0;
	top: 45px;
	margin: 0;
	width: auto;
	height: auto;
	background: #f7f7f7;
	z-index: 999;
	padding: 20px 15px 15px;
	text-align: left;
	list-style: none;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
	behavior: url(PIE.htc);
}
.header_menu ul ul:after {
	content: none;
}
.header_menu ul li ul li,
.header_menu .LI ul li {
	float: none;
	display: block;
	background: none;
	margin: 0 0 12px;
	white-space: nowrap;
	line-height: 1.2;
	border: 0 none;
}
.header_menu ul li ul a,
.header_menu .LI ul a {
	text-transform: none;
	font-weight: normal;
	text-decoration: underline;
	padding: 0;
}
.header_menu ul li ul a:hover,
.header_menu .LI ul a:hover {
	text-decoration: none;
	background: none;
	color: #333;
}
.ie9 .header_menu ul li ul a:hover,
.ie9 .header_menu .LI ul a:hover {
	background: none;
}
.header_menu ul li:hover ul,
.header_menu .LI:hover ul {
	display: block;
	behavior: url(csshover3.htc);
}

/*
Middle
--------------------------------------------------*/
.middle {
	width: 980px;
	margin: -12px auto 0;
	padding: 0 0 62px;
	position: relative;
}
.middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 250px;
}
.row-fluid .span8n {
	width: 335px;
}
.row-fluid .span8n {
	margin-left: 25px;
}

.main_block {
	margin: 0;
	list-style: none;
	width: 100%;
}
.main_block td {
	vertical-align: top;
}
.main_block p.date {
	font-size: 11px;
	line-height: 11px;
	color: #999999;
}
.main_block p a {
	font-size: 12px;
	line-height: 15px;
}
.main_block p {
	margin: 0 0 5px;
	font-size: 11px;
	line-height: 14px;
}
.main_block .line,
.line {
	height: 16px;
	vertical-align: middle;
	background: url(img/line.gif) repeat-x 0 50%;
}

/*
Slider 
--------------------------------------------------*/
.slider {
    width: 980px;
    height: 300px;
    margin: 0 0 35px;
    position: relative;
    overflow: hidden;
}
.slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    zoom: 1;
}
.slider li {
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    position: relative;
}
.slider_text {
	position: absolute;
	background: url(img/slider_text.png) repeat 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 27px 0px 48px;
	bottom: 23px;
	left: 21px;
	width: 480px;
	z-index: 25;
	color: #dadddb;
	font-size: 12px;
	line-height: 1.3;
}
.slider_text div {
	margin: 0 32px;
}
.slider_text h3 {
	font-family: 'DaysRegular';
	font-size: 32px;
	line-height: 1;
	color: #FFF;
	margin: 0 0 12px;
}
.slider_text p {
	color: #dadddb;
	font-size: 12px;
	line-height: 1.3;
}
.pagerslider {
    position: absolute;
    text-align: center;
    bottom: 44px;
	left: 51px;
	z-index: 99;
}
.pagerslider a {
    width: 13px;
    height: 13px;
    display: inline-block;
    margin: 0 13px 0 0;
    text-decoration: none;
    background: #6c8f7a;
    border: 0;

    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.lt-ie9 .pagerslider a {
	background: url(img/slider_btn.png) no-repeat 0 0;
}
.lt-ie9 .pagerslider a.selected {
	background: url(img/slider_selected.png) no-repeat 0 0;	
}
.pagerslider a.selected {
    text-decoration: underline;
    background: #ffff33;
}
.timer {
    background-color: #999;
    height: 6px;
    width: 0px;
}
.pblock {
    overflow: hidden;
}

/*
Content
--------------------------------------------------*/
.content h1 {
	font: 22px 'Open Sans', sans-serif;
	line-height: 1.3;
	font-weight: bold;
	color: #333;
	margin: 14px 0 22px;
}
.content h2 {
	font: 12px 'Open Sans', sans-serif;
	line-height: 1.3;
	font-weight: bold;
	color: #333;
	margin: 0 0 15px;
}
.content h3 {
	font-size: 12px;
	line-height: 1.2;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 0 16px;
}
.content h4 {
	font-size: 10px;
	line-height: 1.2;
	color: #999999;
	font-weight: bold;
	text-transform: uppercase;
	margin: 8px 0 20px;
}
.content ul {
	list-style: none;
	margin: 0 0 10px;
}
.content ul li {
	background: url(img/ico_list.gif) no-repeat 0 9px;
	padding-left: 15px;
	line-height: 1.4;
	margin: 0 0 13px;
}
.content ol {
	counter-reset:w /*Имя счетчика и Сброс счетчика*/;
	list-style: none;/*Убираем нумерацию и стили*/
	margin-left: 0;
}
.ie7 .content ol {
	list-style: inside decimal;
}
.content ol ol {
	margin-left: 25px;
}
.content ol li {
	line-height: 1.4;
	margin: 0 0 13px;
	position: relative;
}
.content ol li ol {
	margin-top: 12px;
}
.content ol li:before {
	/*counters Функционал, который позволяет записывать все счетчики друг за другом*/
	content: counters(w /*Имя счетчика*/, '.'/*Разделитель*/, decimal/*Нумерация*/) '. ';
	counter-increment:w;/*Увеличение счетчика на 1*/
}
/*.ie7 .content ol li {
	padding-left: 27px;
}
.ie7 .content ol li div {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
}*/



blockquote {
	border-left: 3px solid #0c7f3d;
	padding: 20px 40px;
	font-weight: 300;
	font-size: 16px;
	position: relative;
	background: #f7f7f7;
	margin: 25px 0 31px;
}
blockquote p {
	line-height: 1.5;
}
blockquote:before,
blockquote p:after {
	position: absolute;
	font-size: 35px;
	color: #cccccc;
}
blockquote p:after {
	content: '\00bb';
	/*right: 26px;*/
	bottom: 9px;
	margin-left: 5px;
}
blockquote:before {
	content: '\00ab';
	top: 3px;
	left: 18px;
}
form {position: relative;}

/*
Styled Table
--------------------------------------------------*/
.BorderTable {}
.BorderTable td {
	padding: 10px 34px;
	font-size: 12px;
	border: none;
	background: url(img/line.gif) repeat-x 0 100%;
}
.BorderTable .title {
	background: #f4f4f4;
	font-size: 11px;
	color: #666666;
}

/*
Collective
--------------------------------------------------*/
.search_collective {
	background: #e9e9e9;
	padding: 9px 10px;
	margin: 0 0 17px;
}
.search_collective input,
.search_collective select,
.search_collective .selectbox {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	color: #999999;
}
.search_collective input {
	margin: 0;
	border-bottom-color: #e8e8e8;
	padding: 6px 30px 6px 14px;
	width: 283px;
	background: #FFF;
	border-right: 1px solid #e4e4e4;

	-webkit-box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
	-moz-box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
    box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
}
.lt-ie9 .search_collective input {
	border-radius: 0;
	border: 1px solid #ccc;
	box-shadow: none;
}
.search_collective select,
.search_collective .selectbox {
	width: 180px;
	margin-left: 7px;
}
.search_collective .select {
	width: 123px;
	background: #FFF;
}
.search_collective .text {
	padding: 8px 6px;
}
.search_collective .trigger {
	border-left: 0 none;
}
.search_collective .dropdown ul {
	margin: 0;
}
/*.ie8 .search_collective .selectbox li {
	display: block;
	zoom: 1;
	position: relative;
}
.ie8 .search_collective .selectbox li:hover {
	background: #e9e9e9 !important;
	zoom: 1;
}*/
.coll_search {
	position: relative;
	display: inline-block;
}
/*.ie8 .coll_search {
	background-color: #FFF;
	border: 1px solid #CCC;
	border-bottom: 0 none;
}*/
/*.ie8 .coll_search input {
	width: 282px;
}*/
.coll_search img {
	position: absolute;
	right: 10px;
	top: 9px;
	z-index: 125;
}


.box_collectiv ul {
	text-align: justify;
	margin: 0;
	padding: 0;
	list-style: none;
}
.box_collectiv:after {
	overflow: hidden;
	content: '';
	display: block;
	clear: both;
	height: 0;
	font-size: 0;
}
.box_collectiv ul li {
	font-family: 'PT Sans', sans-serif;
	display : inline-block;
	width : 160px;
	/*height: 100px;*/
	margin: 0 0 25px;
	vertical-align: top;	
	/* эмуляция inline-block для IE6-7*/
	//display : inline;
	//zoom : 1;	
	/* Корректировка для IE6-7*/
	//margin-right: 30px; /*5px*/
	
	padding-left: 0;
	background: none;
	text-align: left;
}
.ie7 .box_collectiv ul li {
	margin-right: 22px;
}
.box_collectiv .helper {
	word-spacing: 0; 
	padding-left: 157px;
	visibility: hidden;
	display: inline-block;
	width: auto;
	height: auto;
	background: none;
	/* Корректировка для IE6-7*/
	//margin-left: 30px; /*5px*/
	/* Возврат zoom в значение по умолчанию*/
	//zoom: normal;
}
.box_collectiv img {
	margin: 0 0 9px;
}
.collectiv_category {
	font-size: 10px;
	color: #999999;
	text-transform: uppercase;
	margin-bottom: 2px;
}
.collectiv_name {
	margin-bottom: 3px;
}
.collectiv_name a {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333333;
	font-weight: bold;
}
.collectiv_post {
	font-size: 12px;
	color: #999999;
	line-height: 1;
	margin-bottom: 3px;
}
.collectiv_mail a {
	font-size: 12px;
	color: #0c7f3d;
	text-decoration: none;
}
.collectiv_mail a:hover {
	text-decoration: underline;
}
.content .collectiv_page {
	display: block;
	overflow: hidden;
	text-align: center;
	margin: 30px 0 0;
}
.content .collectiv_page ul {
	margin: 0 auto;
	list-style: none;
	display: inline-block;
}
.ie7 .content .collectiv_page ul {
	display: inline;
}
.content .collectiv_page li {
	padding-left: 0;
	background: none;
	float: left;
	text-align: center;
	margin: 0 2px 0 0;
	line-height: 24px;
	position: relative;
}
.content .collectiv_page a {
	font-weight: bold;
	font-size: 16px;
	color: #333333;
	padding: 0 7px;
	text-align: center;
	text-decoration: none;
	position: relative;

	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;

    behavior: url(PIE.htc);
}
/*.ie7 .content .collectiv_page a {
	border-radius: 0;
}*/
.content .collectiv_page .active a {
	color: #ffff33;
	background: #37b24a;
}
.content .collectiv_page a:hover {
	text-decoration: underline;
}
.content .collectiv_page .active a:hover {
	text-decoration: none;
}
.content .collectiv_page .page_left a:hover img,
.content .collectiv_page .page_right a:hover img {
	opacity: 0.7;
}

/*
Page Progress
--------------------------------------------------*/
.box_progress {}
.box_progress ul li {
	width: 360px;
}
.ie8 .box_progress ul li {
	width: 360px;
}
.ie7 .box_progress ul li {
	width: 343px;
}
.box_progress .helper {
	word-spacing: 0;
	padding-left: 357px;
}
.box_progress td {
	vertical-align: top;
	padding-right: 16px;
}
.box_progress strong {
	font-size: 13px;
	color: #333333;
	margin: 0 0 7px;
}
.box_progress p {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	line-height: 14px;
	color: #999999;
	margin: 0 0 16px;
}
.box_progress a {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	color: #0c7f3d;
	text-decoration: none;
}
.box_progress a:hover {
	text-decoration: underline;
}
.search_date {
	position: absolute;
	right: 0;
	top: -50px;
}
.search_date .select,
.search_date select {
	background: #FFF;
}
.selectbox .trigger {
	border-left: 0 none;
}
.search_date .selectbox .select,
.search_date select {
	width: 93px;
}
.search_date .selectbox .dropdown {
	width: 147px;
}

/*
Zayavka
--------------------------------------------------*/
.zayavka {
	margin: 0 0 70px;
}
.zayavka td {
	vertical-align: top;
}
.zayavka lable {
	font: 11px Arial, Helvetica, sans-serif;
	line-height: 1.2;
	display: block;
	color: #666666;
	padding: 0 0 0 6px;
	margin: 0 0 4px;
}
.zayavka input,
.zayavka textarea {
	width: 328px;
	padding: 6px 6px;
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	color: #999;
	margin-bottom: 12px;
	border-bottom-color: #e8e8e8;
	border-right-color: #e4e4e4;

	-webkit-box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
	-moz-box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
    box-shadow: inset 2px 3px 3px -1px rgba(201, 201, 201, 0.5);
}
.lt-ie9 .zayavka input,
.lt-ie9 .zayavka textarea {
	border-radius: 0;
	border: 1px solid #CCC;
}
.zayavka textarea {
	height: 40px;
}
.zayavka_btn {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	text-shadow: 0px -1px 1px rgba(35, 152, 66, 1);
	border: 0 none;
	padding: 10px 29px;
	margin: 19px 0 0;

	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

	background: #35b04a;
	background: -moz-linear-gradient(top,  #97d63e 1%, #41b449 59%, #35b04a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#97d63e), color-stop(59%,#41b449), color-stop(100%,#35b04a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #97d63e 1%,#41b449 59%,#35b04a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #97d63e 1%,#41b449 59%,#35b04a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #97d63e 1%,#41b449 59%,#35b04a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #97d63e 1%,#41b449 59%,#35b04a 100%); /* W3C */
	
	behavior: url(PIE.htc);
	-pie-background: linear-gradient(#97d63e, #35b04a);
}
.zayavka_btn:hover {
	background: #35b04a;
}
.zayavka .line {
	margin: 15px 0;
}


/*
Sidebar
--------------------------------------------------*/
.sidebar {
	float: left;
	width: 200px;
	margin-left: -100%;
	position: relative;
}
.sd_block {
	margin: 0 0 21px;
	position: relative;
	font-size: 11px;
	color: #333;
}
.sd_block a {
	font-size: 11px;
	color: #333;
}
.sd_block h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	line-height: 1.2;
	font-weight: bold;
	margin: 0 0 23px;
	text-transform: uppercase;
}
.sd_img_banner img {
	position: relative;
	left: -2px;
	top: -8px;
}
.sd_block_brd {
	background: #f4f4f4;
	padding: 18px 18px 14px;
	border: 1px solid #FFF;

	-webkit-box-shadow: 2px 2px 3px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    2px 2px 3px rgba(50, 50, 50, 0.2);
	box-shadow:         2px 2px 3px rgba(50, 50, 50, 0.2);

	-webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.sd_block_img {
	position: absolute;
	top: -9px;
	right: -14px;
}
.docs_otchet {
	margin: 0;
	list-style: none;
}
.docs_otchet li {
	/*background: url(img/ico_word.gif) no-repeat 0 0;
	padding-left: 25px;*/
	line-height: 16px;
	margin: 0 0 17px;
}
.docs_otchet li a {
	text-decoration: none;
}
.docs_otchet li a img {
	float: left;
}
.docs_otchet li a span {
	text-decoration: underline;
	display: block;
	padding-left: 25px;
}
.ie7 .docs_otchet li a span {
	display: inline-block;
	padding-left: 5px;
}
.docs_otchet li a:hover span {
	text-decoration: none;
	cursor: pointer;
}

/*
Sidebar menu
--------------------------------------------------*/
.sd_menu {
	width: 152px;
	border: 1px dashed #e2e2e2;
	padding: 12px 21px 18px 21px;
	margin: 16px 0 23px;
}
.sd_menu ul {
	margin: 0;
	list-style: none;
}
.sd_menu li {
	background: url(img/dot.gif) no-repeat 0 8px;
	padding-left: 14px;
	margin: 0 0 3px;
}
.sd_menu a {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	color: #333;
}
.sd_menu a:hover,
.sd_menu a.active {
	color: #0b7f3b;
	text-decoration: none;
}

/*
Block width 100%
--------------------------------------------------*/
.big_banner {
	margin: 37px 0 0;
}

.block_width {
	color: #666;
	margin: 40px 0 0;
}
.block_width h5 {
	font-weight: bold;
	font-size: 12px;
	line-height: 1.2;
	color: #c0c0c0;
	text-transform: uppercase;
	margin: 0 0 15px;
}
.block_width h2 {
	font-family: 'DaysRegular';
	font-size: 24px;
	line-height: 1.1;
	color: #333;
	margin: 0 0 14px;
}
.block_width p {
	margin: 0 0 5px;
}
.block_width .span12n {
	width: 560px;
	margin: 0;
}
.block_width .span4n {
	margin-left: 60px;
	width: 360px;
}
.block_video {
	position: relative;	
	margin: 10px 0 0;
}
.block_video img {
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.2);	

	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.video_play {
	background: url(img/ico_play.png) no-repeat 0 0;
	width: 104px;
	height: 104px;
	position: absolute;
	z-index: 105;
	left: 37%;
	top: 30%;
}

/*
Pre Albom Main Page
--------------------------------------------------*/
.albom_wrap {
	width: 100%;
	background: url(img/albom_wrap.jpg) repeat-x 0 0;
	height: 210px;
	padding: 28px 0 31px;
}
.albom_main {
	width: 980px;
	margin: 0 auto;
}
.albom_main .thumbnails {
	margin-left: -25px;
}
.albom_main .thumbnails li {
	margin-left: 25px;
	width: 310px;
	position: relative;

	-webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    4px 4px 5px rgba(0, 0, 0, 0.3);
	box-shadow:         4px 4px 5px rgba(0, 0, 0, 0.3);
}
.albom_main li div {
	position: absolute;
	padding: 12px 22px;
	background: url(img/albom_bg.png) repeat 0 0;
	font-size: 12px;
	color: #b0afaf;
	bottom: 0;
	width: 266px;
}
.albom_main h3 {
	font-family: 'DaysRegular';
	font-weight: normal;
	font-size: 22px;
	line-height: 1.2;
	color: #FFF;
	margin: 0 0 2px;
}
.albom_main h3 a {
	color: #FFF;
}
.albom_main li div p {
	margin: 0;
}
.albom_main li a {display: block;}
.albom_main li a:hover+div h3 a {
	text-decoration: none;
}

/*
Footer
--------------------------------------------------*/
.footer {
	width: 100%;
	margin: 0 auto;
	background: #333333;
	position: relative;
	overflow: hidden;
	color: #cccccc;
	font-size: 11px;
}
.footer_middle {
	width: 980px;
	margin: 0 auto;
	padding: 27px 0 18px;
}
.footer a {
	color: #ccc;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.footer_nav,
.footer_sub_nav,
.footer_info {
	vertical-align: top;
}
.footer_nav {
	width: 600px;
}
.footer_sub_nav {
	padding-left: 8px;
	width: 142px;
}
.footer_info {
	padding-left: 10px;
}
.footer_nav dl {
	margin: 0;
	float: left;
	width: 25%;
}
.footer dt,
.footer dt a {
	font-size: 11px;
	font-weight: bold;
	color: #FFF;
	margin: 0 0 7px;
}
.footer_nav dd {
	margin: 0;
	line-height: 1.3;
	margin: 0 0 5px;
}
.footer_sub_nav dl {
	margin: 0;
}
.footer_sub_nav dt {
	margin: 0 0 4px;
}

.footer_btm {
	width: 100%;
	background-color: #282828;
}
.footer_btm_wrap {
	width: 980px;
	height: 40px;
	line-height: 36px;
	margin: 0 auto;
	font-size: 10px;
	color: #787878;
}
.footer_info {
	text-align: right;
	color: #FFF;
	font-size: 12px;
}
.footer_info .footer_search {
	position: relative;
	display: block;
	margin: 2px 0 22px;
	float: right;
}
.lt-ie9 .footer_info .footer_search {
	display: block;
	position: relative;
	zoom: 1;

	-webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    behavior: url(PIE.htc);
}
.footer_info .footer_search img {
	position: absolute;
	right: 10px;
	top: 6px;
}
.footer_info .footer_search input {
	font: 12px Arial, Helvetica, sans-serif;
	border: 1px solid #282828;
	border-top-color: #2e2e2e;

	width: 145px;
    line-height: 28px;
    color: #878787;
    padding: 4px 30px 4px 12px;
    margin: 0;

    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

	background: #282828;
	background: -moz-linear-gradient(top,  #282828 0%, #3f3f3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#282828), color-stop(100%,#3f3f3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #282828 0%,#3f3f3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #282828 0%,#3f3f3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #282828 0%,#3f3f3f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #282828 0%,#3f3f3f 100%); /* W3C */
	
	-pie-background: linear-gradient(#282828, #3f3f3f);
	behavior: url(PIE.htc);
}
.ie8 .footer_info .footer_search {
	behavior: url(PIE.htc);
	-pie-background: linear-gradient(#282828, #3f3f3f);
}
.footer_info ul {
	margin: 0 0 8px;
	list-style: none;
	overflow: hidden;
	float: right;
}
.footer_info ul li {
	float: left;
	margin-right: 4px;
}
.footer_info h5 {
	font-family: 'DaysRegular';
	font-size: 15px;
	color: #dddd33;
	font-weight: normal;
	margin: 0;
}
.footer_info h5 span {
	color: #ababab;
}
.footer_info p {
	margin: 0;
}
.footer_info a {
	text-decoration: underline;
}
.footer_info a:hover {
	text-decoration: none;
}

/*
Other
--------------------------------------------------*/
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.no-display {
	display: none;
}
